<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cs360astudiointrokyledale">

    <!-- Set the minimum SDK version to 28 (Android 9.0 - Pie) -->
    <uses-sdk android:minSdkVersion="28" />

    <!-- Add the SMS permission here -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Declare the corresponding hardware feature -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS360AStudioIntroKyleDale"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ItemEnterActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".AccountActivity" />
    </application>
</manifest>
